<plugin>
	<nom>Compteur de charactères</nom>
	<auteur><a href="http://www.mychacra.net">Rainer Müller</a></auteur>
	<version>1.0.0</version>
	<etat>dev</etat>
	<description>
	Compter les charactères d\'un textarea
	</description>
	<licence>GPL 3</licence>
	<prefix>compteur_characteres</prefix>

	<pipeline>
		<nom>header_prive</nom>
		<inclure>compteur_characteres_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>compteur_characteres_pipelines.php</inclure>
	</pipeline>	
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="cfg" version="[1.16.0;]" />		
</plugin>
